%h1 イベント一覧

= simple_form_for @event_search_form, url: root_path, method: :get do |f|
  = f.input :keyword, label: 'キーワード', as: :search
  -# = f.input :start_at, label: '以降に開催されるイベント'
  = f.input :start_at, label: '以降に開催されるイベント', as: :date, html5: true
  = f.button :submit, '検索', class: 'btn btn-primary'

.mt-3.mb-3
  %ul.list-group
    - @events.each do |event|
      = link_to event, class: 'list-group-item list-group-item-action' do
        %h5.list-group-item-heading= event.name
        %p.mb-1= "#{l(event.start_at, format: :long)} - #{l(event.end_at, format: :long)}"

= paginate @events
